NODE_ENV=development
HOST=0.0.0.0
PORT=3004
SERVICE_VERSION=
ENVIRONMENT=local

LOG_ENABLED=true
LOG_FORMAT=pino-pretty
LOG_LEVEL=debug

# Mongo
MONGO_URI=
MONGO_DATABASE=forms-entitlement-api

# Proxy
HTTP_PROXY=
CDP_HTTPS_PROXY=

# Secure Context / Metrics
ENABLE_SECURE_CONTEXT=false
ENABLE_METRICS=false

# OIDC
OIDC_JWKS_URI=
OIDC_VERIFY_AUD=
OIDC_VERIFY_ISS=
ROLE_EDITOR_GROUP_ID=

# Azure Graph
AZURE_CLIENT_ID=
AZURE_CLIENT_SECRET=
AZURE_TENANT_ID=
SYNC_ADMIN_USERS_ENABLED=false
SYNC_ADMIN_USERS_CRON=0 */6 * * *

TRACING_HEADER=x-cdp-request-id
AWS_REGION=eu-west-2
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=

SNS_ENDPOINT=http://localhost:4566
SNS_TOPIC_ARN=
