services:
  mongo_test:
    image: mongo:6.0
    container_name: forms-entitlement-api-mongo-test
    command: ['--replSet', 'rs0', '--bind_ip_all', '--port', '27017']
    ports:
      - '27018:27017'
    volumes:
      - mongo_test_data:/data/db
    healthcheck:
      test: echo "try { rs.status() } catch (err) { rs.initiate({_id:'rs0',members:[{_id:0,host:'mongo_test:27017'}]}) }" | mongosh --port 27017 --quiet
      interval: 5s
      timeout: 30s
      start_period: 10s
      retries: 30
    environment:
      MONGO_INITDB_DATABASE: forms-entitlement-api-test
    networks:
      - forms_test_net

  oidc:
    image: ghcr.io/soluto/oidc-server-mock:0.6.0
    container_name: oidc-mock-test
    ports:
      - '5556:80'
    environment:
      ISSUER: http://oidc:80
      PORT: 80
      USERS_CONFIGURATION_PATH: /data/users.yml
      CLIENTS_CONFIGURATION_PATH: /data/clients.yml
      API_SCOPES_INLINE: |
        - Name: "newman-test-client"
      API_RESOURCES_INLINE: |
        - Name: "newman-test-client"
          DisplayName: "Forms Entitlement API Test Resource"
          Scopes: ["newman-test-client"]
          UserClaims: ["oid", "groups", "email", "name", "preferred_username", "email_verified"]
      SERVER_OPTIONS_INLINE: |
        {
          "IssuerUri": "http://oidc:80",
          "AccessTokenJwtType": "JWT",
          "Discovery": {
            "ShowKeySet": true
          },
          "Events": { "RaiseErrorEvents": true, "RaiseSuccessEvents": true, "RaiseInformationEvents": true }
        }
    volumes:
      - ./test/integration/postman/oidc-config:/data
    networks:
      - forms_test_net
    healthcheck:
      test:
        [
          'CMD',
          'wget',
          '--spider',
          '-q',
          'http://localhost:80/.well-known/openid-configuration'
        ]
      interval: 5s
      timeout: 5s
      retries: 5
      start_period: 90s

  seed_data:
    build:
      context: .
      target: production
    container_name: forms-entitlement-api-seed-test
    environment:
      MONGO_URI: mongodb://mongo_test:27017/forms-entitlement-api-test?replicaSet=rs0&directConnection=true
    depends_on:
      mongo_test:
        condition: service_healthy
    volumes:
      - ./test:/home/node/test:ro
    command: ['node', './test/integration/seed-data.js']
    networks:
      - forms_test_net

  app_test:
    build:
      context: .
      target: production
    container_name: forms-entitlement-api-app-test
    ports:
      - '3003:3003'
    environment:
      MONGO_URI: mongodb://mongo_test:27017/forms-entitlement-api-test?replicaSet=rs0&directConnection=true
      MONGO_DATABASE: forms-entitlement-api-test
      PORT: 3003
      NODE_ENV: test
      OIDC_JWKS_URI: 'http://oidc:80/.well-known/openid-configuration/jwks'
      OIDC_VERIFY_AUD: 'newman-test-client'
      OIDC_VERIFY_ISS: 'http://oidc:80'
      ROLE_EDITOR_GROUP_ID: '7049296f-2156-4d61-8ac3-349276438ef9'
      AZURE_CLIENT_ID: 'mock-client-id'
      AZURE_CLIENT_SECRET: 'mock-client-secret'
      AZURE_TENANT_ID: 'mock-tenant-id'
    depends_on:
      mongo_test:
        condition: service_healthy
      oidc:
        condition: service_started

    command: ['npm', 'start', '--ignore-scripts']
    networks:
      - forms_test_net

  newman:
    image: postman/newman:latest
    container_name: forms-entitlement-api-newman-test
    environment:
      NEWMAN_USERNAME: 'newman-service-account'
      NEWMAN_PASSWORD: 'newman-mock-password'
      NEWMAN_CLIENT_ID: 'newman-test-client'
      NEWMAN_CLIENT_SECRET: 'newman-mock-secret'
    depends_on:
      - app_test
    volumes:
      - ./test/integration/postman:/etc/newman
    command:
      [
        'run',
        '/etc/newman/forms-entitlement-api-ci-mock.postman_collection.json',
        '-e',
        '/etc/newman/forms-entitlement-api-ci-mock.postman_environment.json',
        '-r',
        'cli,json',
        '--reporter-cli-no-failures',
        '--reporter-json-export',
        '/etc/newman/newman-summary.json'
      ]
    networks:
      - forms_test_net

volumes:
  mongo_test_data:

networks:
  forms_test_net:
